
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


body, input, button, select, textarea {

    font-family: 'Poppins', 'sans-serif';
}


body {
    background-color: #e5e5e5;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    background-color: #121214;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    margin: 0 auto;
    
}

header {
    align-content: ce;
    width: 330px;
    margin-top: 74px;
    margin-left: 150px;
}

header h1 {
    font-family: 'Archivo', 'sans-serif' ;
    font-weight: bold;
    color: white;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 24px;
}

header p {
    font-size: 16px;
    line-height: 26px;
    color: #42d3ff;
}

form {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 38px;
    background-color: #fafafc;
    min-height: 300px;
    border-radius: 8px 8px 0 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    
}

fieldset {
    border: none;
    
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;   
}

fieldset legend {
    font-family: 'Archivo', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #e6e6f0;
    width: 100%;
    padding-bottom: 16px;

}


.input-wrapper {
    flex-direction: column;
    display: flex;
    
}

.input-wrapper label ,
.checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4e4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;
    color: #c7c4d3;
    font-size: 12px;
    line-height: 20px;
}

.input-wrapper label span:hover {
    color: #6c6a71;
}

.input-wrapper input,
.input-wrapper textarea {
    background:#FAFAFC;
    border: 1px solid #e6e6f0;
    border-radius: 8px;
    height: 56px;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #6c6a71;
}

.input-wrapper textarea {
    padding: 0;
    height: 168px;
}

.col-3 {
    display: flex;
    gap: 20px;
}

.col-3 > div:nth-child(1) {
    width: 100%;
}


.checkbox-wrapper label {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
}

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper input {
    width: 24px;
    height: 24px;
    position: absolute;
}

.checkbox-wrapper label::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: block;
    
}

footer {
    background: #f0f0f4;
    height: 136px;
    display: flex;
    flex-direction: column;
    padding: 40px 64px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-top: 1px solid #d6d6d6;
    border-radius: 0 0 8px 8px;
}

footer .button {
   height: 56px; 
   background-color: #04d361;
   border: 0;
   font-family: 'Archivo';
   color: white;
   font-size: 16px;
   line-height: 26px;
   font-weight: 600;

}

footer .button:hover {
    background: #08a04c;
}