* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

:root {
    font-size: 62.5%;
}

body {
 font-size: 1.6rem;
 background: #ECE9FD;
 padding: 6.0rem 2.3rem 6.6rem;
}

h1 {
    line-height: 4.8rem;
    font-size:4.0rem;
    font-family: 'Epilogue', sans-serif;
}